footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-around;
  justify-items: space-around;

  align-items: center;
  align-content: space-around;

  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 85%;
  padding: 3rem;
}

.footerLinks p {
  font-size: 14px;
  opacity: 0.8;
  margin: 0.5em;
}
