footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding: 0rem;
  width: 85%;
  padding: 3rem;
}

.footerLinks p {
  font-size: 14px;
  opacity: 0.8;
  padding: 1.25rem;
}
