@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@800&family=Roboto&display=swap');
body {
  overflow-x: hidden;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 800;
}

.column > h1 {
  font-size: 5.2vmax;
  letter-spacing: 1px;
  text-align: left;
}

p {
  display: inline;
  text-align: justify;
  font-size: 18px;
  line-height: 1.75rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0rem;
  width: 85%;
  height: 95vh;
  max-height: 95vh;
}

.column {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  flex-basis: 100%;
  flex: 1;
}

a:link {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
