.gridDesignItem {
  text-align: center;
  background: var(--accentCyber);
  color: #fff;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.gridDesignItem:nth-child(odd):hover,
.gridDesignItem:nth-child(even):hover {
  background-image: url("./../../../static/cyber/grid/hover.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.gridDesignHero {
  height: 55vh;
  width: 75%;
  margin: 0 auto;
  padding: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.gridDesignHero h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 42px;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.gridDesignHeroAfter {
  height: 25vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  -webkit-border-bottom-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -moz-border-radius-bottomright: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: var(--accentCyber);
}

.gridDesignGrid {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-gap: 1rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(128px, 256px));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.5rem 0;
}

.gridDesignGridFeaturesIntro,
.gridDesignGridIntro {
  width: 85%;
  max-width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 auto;
}

.gridDesignContainer,
.gridDesignFeaturesContainer {
  background: var(--secondaryCyber);
  border-radius: 12px;
  margin: 0 auto;
  padding: 1.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gridDesignItem:nth-child(odd) {
  background: var(--accentCyber);
}
.gridDesignItem:nth-child(odd) {
  background: var(--accent-lightCyber);
}

.gridHero {
  height: 45vh;
  width: 100vw;
  max-width: 100%;
  padding: 0rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.gridHeroHeader {
  text-align: left;
  font-size: 56px;
  font-size: 9.5vw;
}

.gridHeroSubHeader {
  display: none;
  text-align: left;
}

.gridHeroImg {
  max-height: 256px;
}

.gridDesignFeaturesContainer {
  text-align: center;
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gridSignUp {
  height: 100vh;
  max-height: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 56px;
  text-align: center;
}
.gridSignUpBtn {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  cursor: not-allowed;
  margin: 1.45rem;
  border-radius: 8px;
  border: 2px solid var(--accentCyber);
  background: var(--accentCyber);
}
.gridSignUpBtn:hover {
  opacity: 0.7;
}

.gridFeatureImg {
  max-width: 128px;
  filter: invert(100%);
}
.gridSignUpImg {
  max-width: 256px;
  filter: invert(100%);
}

.gridPageIntro {
  text-align: center;
  width: 65%;
  margin: 0 auto;
}

.gridSignUpSubHeader {
  font-size: 24px;
}

.gridAgeIntro h1 {
  font-size: 64px;
}
.gridAgeIntro h2 {
  letter-spacing: 1px;
  font-size: 32px;
}

.gridFeaturesPostImg {
  width: 65%;
}

.gridEnvironmentContainer {
  margin-top: 4rem;
  margin-bottom: 1rem;
  height: 100vh;
  max-height: 100%;
}
