.bodyCyber nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: space-around;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0rem;
  width: 85%;
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.bodyCyber nav img:hover {
  opacity: 0.8;
}

.bodyCyber nav a:visited,
.bodyCyber nav a:link {
  font-size: 14px;
  font-weight: normal;
  opacity: 0.8;
  padding: 1.25rem;
  text-decoration: none;
  color: #3a3a3a;
  text-transform: lowercase;
}
.bodyCyber nav a:visited:nth-of-type(2),
.bodyCyber nav a:link:nth-of-type(2) {
  font-size: 32px;
  color: #000;
  text-transform: uppercase;
}

.navHeroImg {
  height: 96px;
}
